In [1]:
print("0820")

0820

In [3]:
a = range(5)

In [4]:
print(list(a))

[0, 1, 2, 3, 4]

In [5]:
b = range(1,6)

In [6]:
print(list(b))

[1, 2, 3, 4, 5]

In [7]:
c = range(1,10,2)

In [8]:
print(list(c))

[1, 3, 5, 7, 9]

In [9]:
d = range(10,1,-2)

In [10]:
print(list(d))

[10, 8, 6, 4, 2]

In [11]:
list1 = [1,2,3,4,5]

In [12]:
print(list1)

[1, 2, 3, 4, 5]

In [13]:
list2 = ['香蕉','蘋果','橘子']

In [14]:
print(list2)

['香蕉', '蘋果', '橘子']

In [15]:
list3 = [1,'香蕉',True]

In [16]:
print(list3)

[1, '香蕉', True]

In [18]:
print(list1[0])

1

In [20]:
print(list2[2])

橘子

In [21]:
print(list1[4])

5

In [22]:
print(list2[0])

香蕉

In [23]:
print(list2[1])

蘋果

In [24]:
print(list2[2])

橘子

In [25]:
print(list1[-1])

5

In [26]:
print(list1[-4])

2

In [27]:
print(list1[-5])

1

In [31]:
list5 = [["tom",1234],["mary","abcd"],{"david","5678"}]

In [33]:
print(list5[1])

['mary', 'abcd']

In [34]:
print(list5[0])

['tom', 1234]

In [41]:
print(list5[2])

{'david', '5678'}

In [51]:
list6 = [85,79,93]
print("國文成績:",list6[0],"分")
print("數學成績:",list6[1],"分")
print("英文成績:",list6[2],"分")

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [60]:
list6[0] = 100

In [61]:
print(list6)

[100, 79, 93]

In [59]:
list1 = ['香蕉','蘋果','橘子']
for a in list1:
    print(a, end = ",")

香蕉,蘋果,橘子,

In [62]:
list2 = [123,'apple',True]
for b in list2:
    print(b, end = "\n")

123
apple
True

In [71]:
scores = [85, 79 ,93]

In [67]:
print(len(scores))

3

In [72]:
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [97]:
scores = ["國文成績:85分","數學成績:79分","英文成績:93分"]
for i in range(len(scores)):
    print(scores[i])

國文成績:85分
數學成績:79分
英文成績:93分

In [94]:
names = ["編號:1 姓名:Tom","編號:2 姓名:Mary","編號:3 姓名:Tony"]
for j in range(len(names)):
    print(names[j])

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony

In [144]:
#15

input_string = input()

# 分割字串為列表
items = input_string.split()

# 反轉列表
items.reverse()

# 印出反轉後的列表，每項以空格分隔
print(' '.join(items))

cake banana apple

In [101]:
#30

a,b,c = map(int,input().split())

for i in range(a,b,c):
    print(i, end=",")

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [1]:
#32 

a,b,c = map(int,input().split())
k = range(a,b,c)
print(list(k))

[3, 4, 5, 6, 7]